.user-type-selector {
  text-align: center;
  padding: 20px;
  background-color: hsl(197, 100%, 50%);
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  max-width: 90%;
  margin: auto;
}

.logo {
  display: block;
  margin: 0 auto 20px;
  width: 100px;
  height: auto;
}

.user-type-selector h2 {
  margin-bottom: 20px;
  color: #333;
}

.user-type-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.user-type-buttons button {
  flex: 1 1 100px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  transition: background-color 0.3s ease;
}

.user-type-buttons button:hover {
  background-color: #ff7f00;
  color: white;
}
