/* App.css */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
}

/* .logo {
   Add styles for your logo here 
 } */

/* Add any additional global styles you want to apply to your app */
