
@tailwind base;
@tailwind components;
@tailwind utilities;

.backdrop-blur-md {
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.4); /* Dark semi-transparent black background */
}


/* Full Page Glassmorphism Background */
html, body {
  height: 100%;
  background-color: #000101; /* Fallback color */
  background-image: linear-gradient(135deg, #041316 10%, #2193b0 100%);
  font-family: 'Arial', sans-serif;
}

/* Glass Effect for Login Container */
.glass-effect {
  backdrop-filter: blur(16px);
  background-color: rgba(251, 249, 249, 0.2);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

/* Adjusting the backdrop blur for dark mode */
.dark .glass-effect {
  background-color: rgba(23, 25, 35, 0.75);
  border-color: rgba(255, 255, 255, 0.25);
}

/* Enhancing select dropdown for glassmorphism */
.select-dropdown {
  background-color: rgba(12, 7, 7, 0.55);
  border: 1px solid rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(4px);
}

.dark .select-dropdown {
  background-color: rgba(135, 144, 188, 0.85);
}
